<!-- wp:template-part {"slug":"header","theme":"nature21"} /-->
<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
<!-- wp:pattern {"slug":"nature21/nature21-hero-banner"} /-->
<!-- wp:pattern {"slug":"nature21/nature21-section1"} /-->
<!-- wp:pattern {"slug":"nature21/nature21-section2"} /-->
<!-- wp:pattern {"slug":"nature21/nature21-section3"} /-->
<!-- wp:pattern {"slug":"nature21/nature21-section4"} /-->
<!-- wp:pattern {"slug":"nature21/nature21-section5"} /-->
</main><!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"nature21"} /-->